.btn.btn-outline-success{
  border: 1px solid rgb(57, 136, 255);
  color: rgb(57, 136, 255);
  font-size: 1rem;
  font-weight: 500;
}
.btn.btn-outline-success:hover{
background-color: rgb(57, 136, 255);
color: white;

}
.form-control.me-2{
  outline: none;
}
.form-control {
  width: 80%;
  margin-left: 10%;
}
.mb-3{
margin-top: 20px;
}
.form-heading{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btns{
  width: 80%;
  margin-left: 10%;
}
.btns button{
  margin: 10px;
  
}
#alert-box{
  display: none;
}
.summary{
  width: 80%;
  margin-left: 10%;
}